body {
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    background-color: #e8cb74;
    color: #000000;
}

header {
    background: url('imagenes/bannerLeonard.jpg') center/cover no-repeat;
    padding: 20px;
    text-align: center;
    animation: slideDown 1s ease-in-out;
    color:#ffffff;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    margin: 0;
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

nav {
    background: url('imagenes/bannerLeonard.jpg') center/cover no-repeat;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-links.active {
    display: block;
}

.menu-toggle {
    display: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 1.2rem;
    text-shadow: 2px 2px #000000;
}

nav a:hover {
    transform: scale(1.1);
    color: #fdcb4c;
}

section {
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product, .contabilidad, .historia, .galeria, .mapa {
    margin: 20px auto;
    max-width: 800px;
    border: 2px solid #ffcc80;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff3e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.product:hover, .contabilidad:hover, .historia:hover, .galeria:hover, .mapa:hover {
    transform: scale(1.05);
}

.product img, .galeria img {
    max-width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.carousel img {
    display: none;
    transition: opacity 0.5s ease;
}

.carousel img.active {
    display: block;
    opacity: 1;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel button.left {
    left: 10px;
}

.carousel button.right {
    right: 10px;
}

.mapa iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 0;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .mapa {
        padding: 10px;
    }
}


footer {
    background: url('imagenes/bannerLeonard.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    font-size: large;
    text-shadow: 2px 2px #000000;
}

footer a {
    color: white;
    text-decoration: none;
    
    text-shadow: 2px 2px #000000;
}

footer a:hover {
    color: #ffcc80;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: inline-block;
    }

    section {
        padding: 15px;
    }

    footer {
        font-size: 0.8rem;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.whatsapp-button img {
    width: 100%;
}

footer {
    background: url('imagenes/bannerLeonard.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 10px;
}
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.whatsapp-button:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
}